{% include "header.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<form action="/login" class="login" method="POST">
	<div class="login-screen">
		<div class="app-title">
			<h1>FaceMatch Image Upload</h1>
			<p>{{response}}</p>
		</div>

	</div>
</form>

<form action="/service" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<input type="submit" value="Search for Faces" class="btn btn-primary btn-large btn-block" >
			</div>
		</div>
	</div>
</form>		




<form action="/register" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<input type="submit" value="Upload Face" class="btn btn-primary btn-large btn-block" >
			</div>
		</div>
	</div>
</form>			
 
{% endif %}
{% endblock %}